<div class="card card-coin card-plain" (click)="navToStoreDetail(store.id)">
    <div class="card-header">
        <img class="img-center img-fluid rounded-circle" [src]="store.image_background" />

        <h4 class="title">{{store.name}}</h4>
    </div>
    <div class="card-body d-flex flex-column justify-content-center">

        <div class="table-responsive">
            <table class="table tablesorter">
                <tbody>
                    <tr>
                        <td>JUEGOS</td>
                        <td>{{store.games_count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-simple btn-danger btn-round" (click)="navToStoreWeb(store.domain, $event)">
            Visita la web <i class="tim-icons icon-tap-02"> </i>
        </button>
    </div>
</div>